# Tuya IoT Platform Credentials
TUYA_ACCESS_ID=YOUR_ACCESS_ID
TUYA_ACCESS_KEY=YOUR_ACCESS_KEY
# Tuya Cloud API Endpoint (e.g., https://openapi.tuyaus.com, https://openapi.tuyain.com, https://openapi.tuyaeu.com)
TUYA_ENDPOINT=https://openapi.tuyaus.com

# Server Configuration
PORT=3000
DB_PATH=./home-automation.db

# Cloudflare Custom Domain Configuration (Optional)
CUSTOM_DOMAIN=bara-sense.my.id
CLOUDFLARE_TUNNEL_TOKEN=
